{% extends 'services/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section banner-section-two inner-banner-section bg-overlay-red bg_img" data-background="{% static 'images/backgrounds/bg-7.png' %}">
    <div class="section-logo-text">
        <span class="title">ENERGYFIT</span>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-end mb-30-none">
            <div class="col-xl-12 col-lg-12 text-center mb-30">
                <div class="banner-content" data-aos="fade-up" data-aos-duration="1800">
                    {% blocktranslate %}<h1 class='title'>ADD <span>TESTIMONIAL</span></h1>{% endblocktranslate %}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="breadcrumb-area">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Add testimonial' %}</li>
        </ol>
    </nav>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <img src="{% static 'images/element/arrow_up_icon.png' %}" style="width:80px;height:auto;color: red;" alt="element">
    <div class="scrollToTop-icon">
    </div>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="account-widget-section ptb-120">
    <div class="account-widget-element">
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center mb-30-none">
            <div class="col-xl-12 col-lg-12 mb-30" data-aos="fade-left" data-aos-duration="1200">
                <div class="account-widget-form-area bg_img" data-background="{% static 'images/backgrounds/bg-7.png' %}">
                    <form class="account-widget-form" method="POST">
                        {% csrf_token %}
                        <div class="row justify-content-center mb-20-none">
                            <div class="col-xl-12 form-group">
                                <!-- <input type="text" class="form--control" name="name"> -->
                                {{ form.fname }}
                            </div>
                            <div class="col-xl-12 form-group">
                                <!-- <input type="text" class="form--control" name="name"> -->
                                {{ form.lname }}
                            </div>
                            <div class="col-xl-12 form-group">
                                <!-- <input type="email" class="form--control" name="email" placeholder="Your Email*"> -->
                                {{ form.email }}
                            </div>
                            <div class="col-xl-12 form-group">
                                <!-- <textarea class="form--control" name="message" placeholder="Your Message*"></textarea> -->
                                {{ form.text }}
                            </div>
                            <div class="col-xl-12 form-group">
                                <label style="color:white;">{% trans 'Please write the captcha text below to show you are human' %}</label> 
                                {{ captcha_form.captcha }}
                            </div>
                            
                            <div class="col-xl-12 form-group">
                                <button type="submit" class="btn--base">{% trans 'Save' %} <i class="fas fa-arrow-right ml-2"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}