{% extends 'services/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <img src="{% static 'images/element/arrow_up_icon.png' %}" style="width:80px;height:auto;color: red;" alt="element">
    <div class="scrollToTop-icon">
    </div>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section banner-section-two inner-banner-section bg-overlay-red bg_img" data-background="{% static 'images/backgrounds/bg-7.png' %}">
    <div class="section-logo-text">
        <span class="title">ENERGYFIT</span>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-end mb-30-none">
            <div class="col-xl-12 col-lg-12 text-center mb-30">
                <div class="banner-content" data-aos="fade-up" data-aos-duration="1800">
                    {% blocktranslate %}<h1 class='title'>OUR <span>EVENTS</span></h1>{% endblocktranslate %}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="breadcrumb-area">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Events' %}</li>
        </ol>
    </nav>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Gallery
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="gallery-section ptb-120">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-8 col-md-6 col-sm-8 text-center">
                <div class="section-header" data-aos="fade-up" data-aos-duration="1200">
                    <h2 class="section-title">{% blocktranslate %}SEE OUR <span>GALLERY{% endblocktranslate %}</span></h2>
                    <p>{% trans 'Pictures of our day to day Fudokan martial arts training and events' %}</p>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="add-content">
            <a class="" target="_blank" href="{% url 'admin:index' %}services/event"><i class="fas fa-plus-circle" style="font-size:80px"></i></a>
        </div>
        {% endif %}
        <div class="gallery-filter-wrapper">
            <div class="button-group filter-btn-group text-center">
                <button data-filter=".past">{% trans 'Past events' %}</button>
                <button data-filter=".future">{% trans 'Future events' %}</button>
            </div>
            
            <div class="grid">
                {% for i in past_events %}
                <div class="grid-item past">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{{ i.image.url }}" alt="{{ i.title }}">
                            <div class="gallery-overlay">
                                <div class="gallery-content">
                                    <h4 class="title">{{ i.text|safe }}</h4>
                                    <div class="gallery-icon">
                                        <a class="img-popup" data-rel="lightcase:myCollection" href="{{ i.image.url }}"><img src="#" alt="gallery"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for i in future_events %}
                <div class="grid-item future">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{{ i.image.url }}" alt="{{ i.title }}">
                            <div class="gallery-overlay">
                                <div class="gallery-content">
                                    <h4 class="title">{{ i.text|safe }}</h4>
                                    <div class="gallery-icon">
                                        <a class="img-popup" data-rel="lightcase:myCollection" href="{{ i.image.url }}"><img src="#" alt="gallery"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item prev">
                    <a class="page-link" href="#" rel="prev" aria-label="Prev &raquo;">PREV</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">01</a></li>
                <li class="page-item active" aria-current="page"><span class="page-link">02</span></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link" href="#">04</a></li>
                <li class="page-item"><a class="page-link" href="#">05</a></li>
                <li class="page-item next">
                    <a class="page-link" href="#" rel="next" aria-label="Next &raquo;">NEXT</a>
                </li>
            </ul>
        </nav> -->
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Gallery
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
{% endblock %}