{% extends 'services/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <img src="{% static 'images/element/arrow_up_icon.png' %}" style="width:80px;height:auto;color: red;" alt="element">
    <div class="scrollToTop-icon">
        <i class="fas fa-arrow-up"></i>
    </div>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section banner-section-two inner-banner-section bg-overlay-red bg_img" data-background="assets/images/bg/bg-12.png">
    <div class="section-logo-text">
        <span class="title">SWORD</span>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-end mb-30-none">
            <div class="col-xl-12 col-lg-12 text-center mb-30">
                <div class="banner-content" data-aos="fade-up" data-aos-duration="1800">
                    <h1 class="title">EVENTS</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="breadcrumb-area">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Events</li>
        </ol>
    </nav>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <img src="assets/images/element/top.png" alt="element">
    <div class="scrollToTop-icon">
        <i class="fas fa-arrow-up"></i>
    </div>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Event
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="event-section event-section-two ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-60-none">
            <div class="col-xl-6 col-lg-6 mb-60">
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/images/event/event-1.png" alt="event">
                    </div>
                    <div class="event-content">
                        <div class="event-meta-area">
                            <div class="event-post-meta">
                                <div class="event-location">
                                    <span><i class="fas fa-map-marker-alt"></i> 684 Ann St.  FL 34608</span>
                                </div>
                                <div class="event-date">
                                    <span><i class="fas fa-clock"></i> 12:00 am</span>
                                </div>
                            </div>
                            <div class="event-badge">
                                <h3 class="badge-title"><span>21</span> <span class="month">feb</span></h3>
                            </div>
                        </div>
                        <h3 class="title"><a href="event-details.html">The 5th International Masters` Tournament</a></h3>
                        <p>Mark Magsayo upset Gary Russell Jr. by decision on Saturday night to claim the WBC featherweight title in Atlantic City.</p>
                        <div class="event-btn">
                            <a href="event-details.html">Read More <i class="fas fa-arrow-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-60">
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/images/event/event-2.png" alt="event">
                    </div>
                    <div class="event-content">
                        <div class="event-meta-area">
                            <div class="event-post-meta">
                                <div class="event-location">
                                    <span><i class="fas fa-map-marker-alt"></i> 684 Ann St.  FL 34608</span>
                                </div>
                                <div class="event-date">
                                    <span><i class="fas fa-clock"></i> 12:00 am</span>
                                </div>
                            </div>
                            <div class="event-badge">
                                <h3 class="badge-title"><span>22</span> <span class="month">feb</span></h3>
                            </div>
                        </div>
                        <h3 class="title"><a href="event-details.html">PBSC Thai Boxing Sparring Tournament</a></h3>
                        <p>Mark Magsayo upset Gary Russell Jr. by decision on Saturday night to claim the WBC featherweight title in Atlantic City.</p>
                        <div class="event-btn">
                            <a href="event-details.html">Read More <i class="fas fa-arrow-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-60">
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/images/event/event-3.png" alt="event">
                    </div>
                    <div class="event-content">
                        <div class="event-meta-area">
                            <div class="event-post-meta">
                                <div class="event-location">
                                    <span><i class="fas fa-map-marker-alt"></i> 684 Ann St.  FL 34608</span>
                                </div>
                                <div class="event-date">
                                    <span><i class="fas fa-clock"></i> 12:00 am</span>
                                </div>
                            </div>
                            <div class="event-badge">
                                <h3 class="badge-title"><span>23</span> <span class="month">feb</span></h3>
                            </div>
                        </div>
                        <h3 class="title"><a href="event-details.html">Annual Informal MMA Conference of 2022</a></h3>
                        <p>Mark Magsayo upset Gary Russell Jr. by decision on Saturday night to claim the WBC featherweight title in Atlantic City.</p>
                        <div class="event-btn">
                            <a href="event-details.html">Read More <i class="fas fa-arrow-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-60">
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/images/event/event-4.png" alt="event">
                    </div>
                    <div class="event-content">
                        <div class="event-meta-area">
                            <div class="event-post-meta">
                                <div class="event-location">
                                    <span><i class="fas fa-map-marker-alt"></i> 684 Ann St.  FL 34608</span>
                                </div>
                                <div class="event-date">
                                    <span><i class="fas fa-clock"></i> 12:00 am</span>
                                </div>
                            </div>
                            <div class="event-badge">
                                <h3 class="badge-title"><span>24</span> <span class="month">feb</span></h3>
                            </div>
                        </div>
                        <h3 class="title"><a href="event-details.html">About the Champs: Friendly MMA Convention</a></h3>
                        <p>Mark Magsayo upset Gary Russell Jr. by decision on Saturday night to claim the WBC featherweight title in Atlantic City.</p>
                        <div class="event-btn">
                            <a href="event-details.html">Read More <i class="fas fa-arrow-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-60">
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/images/event/event-5.png" alt="event">
                    </div>
                    <div class="event-content">
                        <div class="event-meta-area">
                            <div class="event-post-meta">
                                <div class="event-location">
                                    <span><i class="fas fa-map-marker-alt"></i> 684 Ann St.  FL 34608</span>
                                </div>
                                <div class="event-date">
                                    <span><i class="fas fa-clock"></i> 12:00 am</span>
                                </div>
                            </div>
                            <div class="event-badge">
                                <h3 class="badge-title"><span>25</span> <span class="month">feb</span></h3>
                            </div>
                        </div>
                        <h3 class="title"><a href="event-details.html">Virtual Shadow Boxing Class With 3x Golden Glove Champion!</a></h3>
                        <p>Mark Magsayo upset Gary Russell Jr. by decision on Saturday night to claim the WBC featherweight title in Atlantic City.</p>
                        <div class="event-btn">
                            <a href="event-details.html">Read More <i class="fas fa-arrow-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-60">
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/images/event/event-6.png" alt="event">
                    </div>
                    <div class="event-content">
                        <div class="event-meta-area">
                            <div class="event-post-meta">
                                <div class="event-location">
                                    <span><i class="fas fa-map-marker-alt"></i> 684 Ann St.  FL 34608</span>
                                </div>
                                <div class="event-date">
                                    <span><i class="fas fa-clock"></i> 12:00 am</span>
                                </div>
                            </div>
                            <div class="event-badge">
                                <h3 class="badge-title"><span>26</span> <span class="month">feb</span></h3>
                            </div>
                        </div>
                        <h3 class="title"><a href="event-details.html">Adaptive Boxing $0-Sponsored by SCF Virtual Fitness</a></h3>
                        <p>Mark Magsayo upset Gary Russell Jr. by decision on Saturday night to claim the WBC featherweight title in Atlantic City.</p>
                        <div class="event-btn">
                            <a href="event-details.html">Read More <i class="fas fa-arrow-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item prev">
                    <a class="page-link" href="#" rel="prev" aria-label="Prev &raquo;">PREV</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">01</a></li>
                <li class="page-item active" aria-current="page"><span class="page-link">02</span></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link" href="#">04</a></li>
                <li class="page-item"><a class="page-link" href="#">05</a></li>
                <li class="page-item next">
                    <a class="page-link" href="#" rel="next" aria-label="Next &raquo;">NEXT</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Event
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

{% endblock %}
