{% extends 'services/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section banner-section-two inner-banner-section bg-overlay-red bg_img" data-background="{% static 'images/backgrounds/bg-7.png' %}">
    <div class="section-logo-text">
        <span class="title">ENERGYFIT</span>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-end mb-30-none">
            <div class="col-xl-12 col-lg-12 text-center mb-30">
                <div class="banner-content" data-aos="fade-up" data-aos-duration="1800">
                    {% blocktranslate %}<h1 class='title'>OUR <span>EVENTS</span></h1>{% endblocktranslate %}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="breadcrumb-area">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Events' %}</li>
        </ol>
    </nav>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <img src="{% static 'images/element/arrow_up_icon.png' %}" style="width:80px;height:auto;color: red;" alt="element">
    <div class="scrollToTop-icon">
    </div>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="faq-section bg--gray ptb-120">
    <div class="faq-element">
        <img src="{% static 'images/element/element-31.png' %}" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 text-center">
                <div class="section-header">
                    {% blocktranslate %}<h2 class='section-title'>FREQUENTLY ASKED <span>QUESTIONS</span></h2>{% endblocktranslate %}
                    <p>{% trans 'If you cannot find an answer to your question in this section below, then please white us an email' %}.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12">
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title"><span class="title">{% trans 'Belt colors in Fudokan' %}?</span><span class="right-icon"></span></h3>
                        <div class="faq-content">
                            <p>{% trans 'The progress system is according to the two styles Shotokan and Fudokan. The grading is from 9 kyu (white belt) to 1 kyu (brown belt) and from 1 to 10 dan (black belt). A practitioner starts from the rank of 9 kyu - white belt, followed by the 3 red stripes on the white belt (8-6kyu) in order to reach the next belt color - yellow. According to the WFF periodization the examination is done according to well defined criteria following a period of training. During this examination, aspects related to technique, self-control, emotional balance, physical preparation plus other aspects are followed depending on the degree for which the examination is taken' %}.</p>
                            <div class="faq-list-area">
                                <h4 class="title">{% trans 'Fudokan belts' %}:</h4>
                                <ul class="faq-list">
                                    <li>{% trans 'White' %}</li>
                                    <li>{% trans 'White + 1 red stripe' %}</li>
                                    <li>{% trans 'White + 2 red stripes' %}</li>
                                    <li>{% trans 'White + 3 red stripes' %}</li>
                                    <li>{% trans 'Yellow' %}</li>
                                    <li>{% trans 'Orange' %}</li>
                                    <li>{% trans 'Green' %}</li>
                                    <li>{% trans 'Blue' %}</li>
                                    <li>{% trans 'Brown' %}</li>
                                    <li>{% trans 'Black' %}</li>
                                </ul>
                            </div>
                            <div class="faq-inner-thumb-area">
                                <div class="row justify-content-center mb-30-none">
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                                        <div class="faq-inner-thumb">
                                            <img src="{% static 'images/training/training-6.webp' %}" alt="faq">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                                        <div class="faq-inner-thumb">
                                            <img src="{% static 'images/training/training-4.webp' %}" alt="faq">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                                        <div class="faq-inner-thumb">
                                            <img src="{% static 'images/training/training-14.webp' %}" alt="faq">
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                                        <div class="faq-inner-thumb">
                                            <img src="{% static 'images/training/training-15.webp' %}" alt="faq">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for i in faqs %}
                    <div class="faq-item active open">
                        <h3 class="faq-title"><span class="title">{{ i.question|safe|capfirst }}</span><span class="right-icon"></span></h3>
                        <div class="faq-content">
                            <p>{{ i.main_explanation|safe }}</p>
                            <div class="faq-list-area">
                                <h4 class="title">{{ i.subtitle|safe|capfirst }}</h4>
                                <ul class="faq-list">
                                    <li>{{ i.second_text|safe }}</li>
                                </ul>
                            </div>
                            <div class="faq-inner-thumb-area">
                                <div class="row justify-content-center mb-30-none">
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                                        <div class="faq-inner-thumb">
                                            <img src="{{ i.image1.url }}" alt="faq">
                                        </div>
                                    </div>
                                    {% if i.image2 %}
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                                        <div class="faq-inner-thumb">
                                            <img src="{{ i.image2.url }}" alt="faq">
                                        </div>
                                    </div>
                                    {% else%}
                                    {% endif %}
                                    {% if i.image3 %}
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                                        <div class="faq-inner-thumb">
                                            <img src="{{ i.image3.url }}" alt="faq">
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}
                                    {% if i.image4 %}
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                                        <div class="faq-inner-thumb">
                                            <img src="{{ i.image4.url }}" alt="faq">
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		Start Client
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="client-section client-section-two ptb-120 bg-overlay-black bg_img pb-80" data-background="{% static 'images/backgrounds/bg-7.png' %}">
    <div class="container">
            <div class="row">
                    <div class="col-xl-12">
                            <div class="section-header-wrapper">
                                    <div class="section-header white" data-aos="fade-right" data-aos-duration="1200">
                                            <h2 class="section-title">{% blocktranslate %}OUR <span></span> TESTIMONIALS{% endblocktranslate %}</h2>
                                            <p>{% trans 'Energyfit Karate Brasov is the only Fudokan martial arts school in Brasov, a karate style that teaches modesty, focus and fighting for true human values. Our school has one of the most innovative and child friendly training programs you can find' %}.</p>
                                    </div>
                                    <div class="slider-nav-area" data-aos="fade-left" data-aos-duration="1200">
                                            <div class="slider-prev">
                                                    <i class="fas fa-chevron-left"></i>
                                            </div>
                                            <div class="slider-next">
                                                    <i class="fas fa-chevron-right"></i>
                                            </div>
                                    </div>
                            </div>
                    </div>
            </div>
            <div class="client-area">
                    <div class="row justify-content-center align-items-end mb-30-none">
                            <div class="col-xl-8 col-lg-8 col-md-6 mb-30">
                                    <div class="client-slider" data-aos="fade-right" data-aos-duration="1200">
                                            <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                            <div class="client-item">
                                                                    <div class="client-header">
                                                                            <div class="client-quote">
                                                                                    <img src="{% static 'images/client/quote.png' %}" alt="client">
                                                                            </div>
                                                                            <div class="client-thumb">
                                                                                    <img src="{% static 'images/client/client-1.png' %}" alt="client">
                                                                            </div>
                                                                    </div>
                                                                    <div class="client-content">
                                                                            <p>{% trans 'Energyfit Karate Brasov is the only Fudokan martial arts school in Brasov, a karate style that teaches modesty, focus and fighting for true human values. Our school has one of the most innovative and child friendly training programs you can find' %}
                                                                    </div>
                                                                    <div class="client-footer">
                                                                            <div class="client-footer-left">
                                                                                    <h4 class="title"><a href="#0">Ioana Ioana</a></h4>
                                                                                    <span class="sub-title">Women's Trainner</span>
                                                                            </div>
                                                                            <div class="client-footer-right">
                                                                                    <span class="ratings">
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star active"></i>
                                                                                    </span>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                            <div class="client-item">
                                                                    <div class="client-header">
                                                                            <div class="client-quote">
                                                                                    <img src="{% static 'images/client/quote.png' %}" alt="client">
                                                                            </div>
                                                                            <div class="client-thumb">
                                                                                    <img src="{% static 'images/client/client-2.png' %}" alt="client">
                                                                            </div>
                                                                    </div>
                                                                    <div class="client-content">
                                  <p>{% trans 'Energyfit Karate Brasov is the only Fudokan martial arts school in Brasov, a karate style that teaches modesty, focus and fighting for true human values. Our school has one of the most innovative and child friendly training programs you can find' %}

                                                                    </div>
                                                                    <div class="client-footer">
                                                                            <div class="client-footer-left">
                                                                                    <h4 class="title"><a href="#0">Ion Ion</a></h4>
                                                                                    <span class="sub-title">Fudokan Trainee</span>
                                                                            </div>
                                                                            <div class="client-footer-right">
                                                                                    <span class="ratings">
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star active"></i>
                                                                                    </span>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                    </div>
                                            </div>
                                    </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                    <div class="client-right-thumb" data-aos="fade-left" data-aos-duration="1200">
                                            <img src="{% static 'images/logo/logo-energyfit-cerc.png' %}" alt="client">
                                            <div class="client-thumb-overlay">
                                                    <h4 class="title"></h4>
                                            </div>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Client
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


{% endblock %}