{% extends 'services/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section bg_img" data-background="assets/images/bg/bg-5.png">
    <div class="banner-element">
        <img src="assets/images/element/element-7.png" alt="element">
    </div>
    <div class="banner-element-two">
        <img src="assets/images/element/element-26.png" alt="element">
    </div>
    <div class="banner-thumb-area">
        <div class="banner-thumb-element-one">
            <img src="assets/images/element/element-11.png" alt="element">
        </div>
        <div class="banner-thumb-element-two">
            <img src="assets/images/element/element-12.png" alt="element">
        </div>
        <div class="banner-thumb-element-three">
            <img src="assets/images/element/element-13.png" alt="element">
        </div>
        <div class="banner-thumb" data-aos="fade-up" data-aos-duration="2500">
            <img src="assets/images/element/element-8.png" alt="element">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row align-items-end mb-30-none">
            <div class="col-xl-6 col-lg-12 mb-30">
                <div class="banner-content" data-aos="fade-right" data-aos-duration="1800">
                    <span class="sub-title">WELCOME TO SWORD</span>
                    <h1 class="title">EVERY GREAT</h1>
                    <h3 class="inner-title">JOURNEY STARTS WITH ONE STEP!</h3>
                    <p>Morbi eleifend tortor vitae sapien laoreet feugiat. Aliquam dictum vulputate sapien eu laoreet. Aliquam purus est, molestie et sagittis sit amet, sagittis in magna. Morbi placerat commodo luctus. Etiam pulvinar dapibus risus, sit amet consectetur metus lobortis vitae.</p>
                    <div class="banner-arrow">
                        <img src="assets/images/element/element-10.png" alt="element">
                    </div>
                    <div class="banner-widget">
                        <div class="banner-widget-wrapper">
                            <div class="banner-widget-left">
                                <div class="banner-widget-thumb">
                                    <img src="assets/images/element/element-9.png" alt="element">
                                </div>
                            </div>
                            <div class="banner-widget-middle">
                                <div class="banner-widget-content">
                                    <p class="text-white">Join over <span>4,000+</span> students</p>
                                </div>
                            </div>
                            <div class="banner-widget-right">
                                <div class="banner-widget-btn">
                                    <a href="apply.html" class="btn--base">Apply Now <i class="fas fa-arrow-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <img src="assets/images/element/top.png" alt="element">
    <div class="scrollToTop-icon">
        <i class="fas fa-arrow-up"></i>
    </div>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start About
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="about-section pt-120 bg-overlay-black bg_img" data-background="assets/images/bg/bg-1.png">
    <div class="section-logo-text">
        <span class="title">SWORD</span>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-6 col-lg-12 mb-30">
                <div class="about-thumb">
                    <img src="assets/images/about.png" alt="about">
                    <div class="about-thumb-content">
                        <div class="signature-thumb">
                            <img src="assets/images/signature.png" alt="signature">
                        </div>
                        <div class="signature-content">
                            <span class="title">DIRECTOR / INSTRUCTOR</span>
                        </div>
                    </div>
                    <div class="about-thumb-video">
                        <div class="video-main">
                            <div class="promo-video">
                                <div class="waves-block">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div>
                            </div>
                            <a class="video-icon" data-rel="lightcase:myCollection" href="https://www.youtube.com/embed/YDErI8Lphho">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 mb-30">
                <div class="about-content-area">
                    <div class="section-header white">
                        <h2 class="section-title">ABOUT <span>BOXING</span> SCHOOL</h2>
                        <p>Fight School has specialized in martial arts since 1986 and has one of the most innovative programs in the nation.</p>
                    </div>
                    <div class="about-item-area">
                        <div class="about-item mb-30">
                            <div class="about-icon">
                                <img src="assets/images/icon/icon-1.png" alt="icon">
                            </div>
                            <div class="about-content">
                                <h3 class="title">FREE FITNESS TRAINING</h3>
                                <p>We teach martial arts because we love it — not because we want to make money on you. Unlike other martial arts schools.</p>
                            </div>
                        </div>
                        <div class="about-item mb-30">
                            <div class="about-icon">
                                <img src="assets/images/icon/icon-2.png" alt="icon">
                            </div>
                            <div class="about-content">
                                <h3 class="title">CARDIO AND STRENGTH</h3>
                                <p>We teach martial arts because we love it — not because we want to make money on you. Unlike other martial arts schools.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-btn">
                        <a href="about.html" class="btn--base">Read More <i class="fas fa-arrow-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End About
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Training
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="training-section ptb-120">
    <div class="training-element-one my-paroller" data-paroller-factor="0.08" data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="assets/images/element/element-1.png" alt="element">
    </div>
    <div class="training-element-two my-paroller" data-paroller-factor="0.08" data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="assets/images/element/element-2.png" alt="element">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-header-wrapper">
                    <div class="section-header">
                        <h2 class="section-title">OUR <span>BOXING</span> TRAINING</h2>
                        <p>Fight School has specialized in martial arts since 1986 and has one of the most innovative programs in the nation.</p>
                    </div>
                    <div class="slider-nav-area">
                        <div class="slider-prev">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="slider-next">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="training-slider-area">
                    <div class="training-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="training-item text-center">
                                    <div class="training-icon">
                                        <img src="assets/images/icon/icon-3.png" alt="icon">
                                    </div>
                                    <div class="training-content">
                                        <h3 class="title"><a href="training-details.html">ENGLISH BOXING</a></h3>
                                        <p>Transport or transportation is the movement of humans, animals and goods from one location.</p>
                                    </div>
                                    <div class="training-overlay bg-overlay-base bg_img" data-background="assets/images/training/training-1.png">
                                        <div class="training-overlay-content">
                                            <h3 class="title"><a href="training-details.html">ENGLISH BOXING TRAINING</a></h3>
                                            <div class="training-btn">
                                                <a href="training-details.html" class="btn--base active">Training Details <i class="fas fa-arrow-right ml-2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="training-item text-center">
                                    <div class="training-icon">
                                        <img src="assets/images/icon/icon-4.png" alt="icon">
                                    </div>
                                    <div class="training-content">
                                        <h3 class="title"><a href="training-details.html">PERSONAL BOXING</a></h3>
                                        <p>Transport or transportation is the movement of humans, animals and goods from one location.</p>
                                    </div>
                                    <div class="training-overlay bg-overlay-base bg_img" data-background="assets/images/training/training-1.png">
                                        <div class="training-overlay-content">
                                            <h3 class="title"><a href="training-details.html">PERSONAL BOXING TRAINING</a></h3>
                                            <div class="training-btn">
                                                <a href="training-details.html" class="btn--base active">Training Details <i class="fas fa-arrow-right ml-2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="training-item text-center">
                                    <div class="training-icon">
                                        <img src="assets/images/icon/icon-5.png" alt="icon">
                                    </div>
                                    <div class="training-content">
                                        <h3 class="title"><a href="training-details.html">KICK BOXING</a></h3>
                                        <p>Transport or transportation is the movement of humans, animals and goods from one location.</p>
                                    </div>
                                    <div class="training-overlay bg-overlay-base bg_img" data-background="assets/images/training/training-1.png">
                                        <div class="training-overlay-content">
                                            <h3 class="title"><a href="training-details.html">KICK BOXING TRAINING</a></h3>
                                            <div class="training-btn">
                                                <a href="training-details.html" class="btn--base active">Training Details <i class="fas fa-arrow-right ml-2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Training
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Trainer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="trainer-section ptb-120 bg-overlay-black bg_img" data-background="assets/images/bg/bg-2.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 text-center">
                <div class="section-header white" data-aos="fade-up" data-aos-duration="1200">
                    <h2 class="section-title">OUR <span>EXPERT</span> TRAINNER</h2>
                    <p>Fight School has specialized in martial arts since 1986 and has one of the most innovative programs in the nation.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-30">
                <div class="trainer-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="trainer-thumb">
                        <img src="assets/images/trainer/trainer-1.png" alt="trainer">
                        <div class="trainer-overlay">
                            <div class="share-area">
                                <div class="share-icon">
                                    <i class="fas fa-share-alt"></i>
                                </div>
                                <ul class="social-list">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="trainer-content">
                        <h3 class="title"><a href="master-details.html">Randall Schwartz</a></h3>
                        <span class="sub-title">Women's Trainner</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-30">
                <div class="trainer-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="trainer-thumb">
                        <img src="assets/images/trainer/trainer-2.png" alt="trainer">
                        <div class="trainer-overlay">
                            <div class="share-area">
                                <div class="share-icon">
                                    <i class="fas fa-share-alt"></i>
                                </div>
                                <ul class="social-list">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="trainer-content">
                        <h3 class="title"><a href="master-details.html">David Sherman</a></h3>
                        <span class="sub-title">Boxing Trainner</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-30">
                <div class="trainer-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="trainer-thumb">
                        <img src="assets/images/trainer/trainer-3.png" alt="trainer">
                        <div class="trainer-overlay">
                            <div class="share-area">
                                <div class="share-icon">
                                    <i class="fas fa-share-alt"></i>
                                </div>
                                <ul class="social-list">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="trainer-content">
                        <h3 class="title"><a href="master-details.html">Earl Lopez</a></h3>
                        <span class="sub-title">Karate Trainner</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-30">
                <div class="trainer-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="trainer-thumb">
                        <img src="assets/images/trainer/trainer-4.png" alt="trainer">
                        <div class="trainer-overlay">
                            <div class="share-area">
                                <div class="share-icon">
                                    <i class="fas fa-share-alt"></i>
                                </div>
                                <ul class="social-list">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="trainer-content">
                        <h3 class="title"><a href="master-details.html">James Gonzalez</a></h3>
                        <span class="sub-title">Women's Trainner</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-btn text-center mt-60">
            <a href="master.html" class="btn--base">View All <i class="fas fa-arrow-right ml-2"></i></a>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Trainer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Schedule
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="schedule-section ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center">
                <div class="section-header" data-aos="fade-up" data-aos-duration="1200">
                    <h2 class="section-title">OUR <span>TRAINING</span> SCHEDULE</h2>
                    <p>Fight School has specialized in martial arts since 1986 and has one of the most innovative programs in the nation.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1200">
            <div class="col-xl-12">
                <div class="schedule-area table-responsive">
                    <table class="custom-table bg-overlay-black bg_img" data-background="assets/images/bg/bg-11.png">
                        <thead>
                            <tr>
                                <th>Routine</th>
                                <th>10 am</th>
                                <th>12 am</th>
                                <th>02 am</th>
                                <th>05 am</th>
                                <th>07 am</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Satarday</td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td>Yoga <span>10 am - 11 am</span></td>
                                <td class="blank-data"></td>
                                <td>Boxing <span>10 am - 11 am</span></td>
                                <td>Karate <span>10 am - 11 am</span></td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td class="blank-data"><div class="dot"></div></td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td>Karate <span>10 am - 11 am</span></td>
                                <td class="blank-data"></td>
                                <td><div class="dot">Jumping <span>10 am - 11 am</span></div></td>
                            </tr>
                            <tr>
                                <td>Monday</td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td class="blank-data"></td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td class="blank-data"></td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td class="blank-data"></td>
                                <td class="active">Cycling <span>10 am - 11 am</span></td>
                                <td class="blank-data"></td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td class="blank-data"></td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td class="blank-data"></td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td class="blank-data"></td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td class="blank-data"></td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td class="blank-data"><div class="dot"></div></td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td class="blank-data"></td>
                                <td>Cycling <span>10 am - 11 am</span></td>
                                <td class="blank-data"><div class="dot"></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Schedule
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Feature
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="feature-section feature-gray bg--gray ptb-120">
    <div class="feature-element" data-aos="fade-right" data-aos-duration="1200">
        <img src="assets/images/element/element-3.png" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 text-center">
                <div class="section-header" data-aos="fade-up" data-aos-duration="1200">
                    <h2 class="section-title">OUR <span>BOXING</span> FEATURES</h2>
                    <p>Fight School has specialized in martial arts since 1986 and has one of the most innovative programs in the nation.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-40-none">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="feature-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="feature-icon-area">
                        <div class="feature-icon">
                            <img src="assets/images/icon/icon-6.png" alt="icon">
                        </div>
                        <div class="feature-number">
                            <span>01</span>
                        </div>
                    </div>
                    <div class="feature-content">
                        <h4 class="title">FREE CONSULTATION</h4>
                        <p>Fight School has specialized in martial arts since 1986 and has one of the most</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="feature-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="feature-icon-area">
                        <div class="feature-icon">
                            <img src="assets/images/icon/icon-7.png" alt="icon">
                        </div>
                        <div class="feature-number">
                            <span>02</span>
                        </div>
                    </div>
                    <div class="feature-content">
                        <h4 class="title">EXCELLENT SERVICE</h4>
                        <p>Fight School has specialized in martial arts since 1986 and has one of the most</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="feature-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="feature-icon-area">
                        <div class="feature-icon">
                            <img src="assets/images/icon/icon-62.png" alt="icon">
                        </div>
                        <div class="feature-number">
                            <span>03</span>
                        </div>
                    </div>
                    <div class="feature-content">
                        <h4 class="title">BEST TRAINERS</h4>
                        <p>Fight School has specialized in martial arts since 1986 and has one of the most</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="feature-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="feature-icon-area">
                        <div class="feature-icon">
                            <img src="assets/images/icon/icon-63.png" alt="icon">
                        </div>
                        <div class="feature-number">
                            <span>04</span>
                        </div>
                    </div>
                    <div class="feature-content">
                        <h4 class="title">WORK PROGRAMS</h4>
                        <p>Fight School has specialized in martial arts since 1986 and has one of the most</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Feature
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Client
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="client-section ptb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-header-wrapper">
                    <div class="section-header">
                        <h2 class="section-title">OUR <span>BOXER</span> TESTIMONIAL</h2>
                        <p>Fight School has specialized in martial arts since 1986 and has one of the most innovative programs in the nation.</p>
                    </div>
                    <div class="slider-nav-area">
                        <div class="slider-prev">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="slider-next">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="client-area">
            <div class="row justify-content-center align-items-end mb-30-none">
                <div class="col-xl-8 col-lg-8 col-md-6 mb-30">
                    <div class="client-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="client-item">
                                    <div class="client-header">
                                        <div class="client-quote">
                                            <img src="assets/images/client/quote.png" alt="client">
                                        </div>
                                        <div class="client-thumb">
                                            <img src="assets/images/client/client-1.png" alt="client">
                                        </div>
                                    </div>
                                    <div class="client-content">
                                        <p>Fight School has specialized in martial arts since 1986 and has one of the most
                                            Fight School has specialized.</p>
                                    </div>
                                    <div class="client-footer">
                                        <div class="client-footer-left">
                                            <h4 class="title"><a href="#0">Randall Schwartz</a></h4>
                                            <span class="sub-title">Women's Trainner</span>
                                        </div>
                                        <div class="client-footer-right">
                                            <span class="ratings">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star active"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="client-item">
                                    <div class="client-header">
                                        <div class="client-quote">
                                            <img src="assets/images/client/quote.png" alt="client">
                                        </div>
                                        <div class="client-thumb">
                                            <img src="assets/images/client/client-2.png" alt="client">
                                        </div>
                                    </div>
                                    <div class="client-content">
                                        <p>We teach martial arts because we love it — not because we want to make money on you. Unlike other martial.</p>
                                    </div>
                                    <div class="client-footer">
                                        <div class="client-footer-left">
                                            <h4 class="title"><a href="#0">Andru Smith</a></h4>
                                            <span class="sub-title">Boxing Trainer</span>
                                        </div>
                                        <div class="client-footer-right">
                                            <span class="ratings">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star active"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="client-right-thumb">
                        <img src="assets/images/client/client-big.png" alt="client">
                        <div class="client-thumb-overlay">
                            <h4 class="title">MASTER UPPER CUT</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Client
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Call-to-action
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="call-to-action-section ptb-120 bg-overlay-black bg_img" data-background="assets/images/bg/bg-3.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center">
                <div class="call-to-action-content" data-aos="fade-up" data-aos-duration="1200">
                    <h2 class="title">JOIN THE CLUB</h2>
                    <h2 class="sub-title">#BE COME STRONGER</h2>
                    <p>Fight School has specialized in martial arts since 1986 and has one of the most innovative programs in the nation.</p>
                    <div class="call-to-action-btn">
                        <a href="contact.html" class="btn--base">Join Now <i class="fas fa-arrow-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Call-to-action
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Blog
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="blog-section ptb-120">
    <div class="blog-element-one" data-aos="fade-right" data-aos-duration="1200">
        <img src="assets/images/element/element-4.png" alt="element">
    </div>
    <div class="blog-element-two" data-aos="fade-left" data-aos-duration="1200">
        <img src="assets/images/element/element-5.png" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center">
                <div class="section-header" data-aos="fade-up" data-aos-duration="1200">
                    <h2 class="section-title">LATEST <span>NEWS</span> FORM SWORD</h2>
                    <p>Fight School has specialized in martial arts since 1986 and has one of the most innovative programs in the nation.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="blog-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="blog-thumb">
                        <img src="assets/images/blog/blog-1.png" alt="blog">
                        <div class="blog-date">
                            <span>Feb 10, 2022</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-post-meta">
                            <span class="user">By : Sword Joy</span>
                            <span class="category"><a href="blog.html">Karate</a></span>
                        </div>
                        <h3 class="title"><a href="blog-details.html">THE UPCOMING WBC CHAMPION SHIPS 2022 IN FEB</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="blog-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="blog-thumb">
                        <img src="assets/images/blog/blog-2.png" alt="blog">
                        <div class="blog-date">
                            <span>Feb 10, 2022</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-post-meta">
                            <span class="user">By : Sword Joy</span>
                            <span class="category"><a href="blog.html">Trendy</a></span>
                        </div>
                        <h3 class="title"><a href="blog-details.html">THE BEST BOXERS IN THEIR WEIGH TARGET CATEGORIES</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="blog-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="blog-thumb">
                        <img src="assets/images/blog/blog-3.png" alt="blog">
                        <div class="blog-date">
                            <span>Feb 10, 2022</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-post-meta">
                            <span class="user">By : Sword Joy</span>
                            <span class="category"><a href="blog.html">Boxing</a></span>
                        </div>
                        <h3 class="title"><a href="blog-details.html">EFFECTIVE STRATEGIES AND TIPS FROM THE BEST</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Blog
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
{% endblock %}
